.product-section {
}

.product-section h2 {
	color: #fff;
	text-align: start;
	padding: 5px;
}

.card {
	background: #0e5e8d;
	color: white;
    width: 250px;
    min-height: 340px;
	margin: 5px 10px;
}

@media only screen and (max-width: 425px) {
	.card {
		width: 100%;
		margin: 5px 0;
	}
}

.price-section p {
	font-size: 1.2em;
	color: #a7a7a7;
	text-decoration: line-through;
}


.price-section h2 {
	color: #26fb00;
}


.product-image {
	width: 90%;
	margin: auto;
}

.item-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
