:root {
	--main-dark: #243352;
	--main-light: #4a6aaa;
	--light-cyan: #58e2e7;
	--green-cyan: #31acac;
	--green-neon: #05d105;
	--card-bg: #0b6b6b;
	--card-title: #ffffff;
	--text-white: #e2e6ec;
	--cyber-purple: #311d69;
	--cyber-dark: #201344;
	--button-text: #000d16;
	--orange-neon: #fa7c06;
}

* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	background: var(--main-dark);
	color: var(--text-white);
	min-height: 100vh;
}

.Title {
	margin-left: 1rem;
}

/* vmin vh */
.App-header {
	background-color: var(--main-dark);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: calc(3px + 2vmin);
}

.side-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.notificationbell-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0px 20px;
}


#notification-bell {
	align-self: center;
	font-size: 1.5em;
	color: var(--green-cyan);
}

.notificationbell-container p {
	font-size: 0.7em;
	align-self: start;
	color: var(--light-cyan);
	font-weight: 600;
}

.header-button {
	background: var(--cyber-purple);
	padding: 10px;
	border: 1px solid var(--text-white);
	cursor: pointer;
	align-self: center;
	margin-right: 10px;
}

.header-button p {
	color: var(--text-white);
	font-size: 1.5em;
	font-weight: bold;
}

.header-button:focus {
	outline: none;
}

.product-list {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 425px) {
	.product-list {
		flex-direction: column;
	}
}
