* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	background: #282c34;
	color: #fff;
	min-height: 100vh;
}

.Title {
	margin-left: 1rem;
}

/* vmin vh */
.App-header {
	background-color: #35518a;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: calc(3px + 2vmin);
	color: white;
}

.side-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.notificationbell-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0px 20px;
}

.notificationbell-container p {
	font-size: 0.7em;
	align-self: start;
	color: #ff5100;
	font-weight: 600;
}


.header-button {
	background: rgb(46, 189, 194);
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	align-self: center;
	margin-right: 10px;
}

.header-button p {
	color: #fff;
	font-size: 1.5em;
}

#notification-bell {
	align-self: center;
	font-size: 1.5em;
	color: rgb(15, 194, 15);
}

.product-list {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 425px) {
	.product-list {
		flex-direction: column;
	}
}
