* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
  background: #282c34;
  color: #fff;
	min-height: 100vh;
}

.Title {
	margin-left: 1rem;
}

/* vmin vh */
.App-header {
	background-color: #35518a;
	display: flex;
  flex-direction: row;
  justify-content: space-between;
	font-size: calc(3px + 2vmin);
	color: white;
}

.header-button {
	background: rgb(46, 189, 194);
  padding:10px;
  border: none;
	border-radius: 10px;
  align-self: center;
  margin-right: 10px;
}

.header-button p {
	color: #fff;
	font-size: 1.5em;
}

.product-list {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 425px) {
  .product-list {
    flex-direction: column;
  }
}